
*.synctex.gz
*.synctex(busy)
*.pdf
*.out
*.log
*.blg
*.bbl
*.aux
*.toc
*.wt5
data/osfstorage/**
~$verletter.docx
siNotes.bib
paperNotes.bib
figures/~$figs.pptx
~$verletter_resubmission.docx
figures/drsive_spectrum.png
figures/drsive_chgsign.png
figures/changedelta.png
figures/fchtproduct.png
figures/fcht.png
figures/contour.png
figures/changedeltaM.png
