
paperNotes.bib
paper.synctex.gz
paper.pdf
paper.out
paper.log
paper.blg
paper.bbl
paper.aux
figures/cob.png
*.wt5
data/osfstorage/**
figures/drsive_spectrum.png
paper.synctex(busy)
figures/drsive_spectrum.png
figures/comparisonwmel.png
figures/drsive_spectrum.png
figures/drwmel.png
~$verletter.docx
*.pdf
si.aux
si.log
si.synctex.gz
si.toc
figures/fcht.png
si.toc
si.synctex.gz
si.log
si.blg
si.bbl
si.aux
coverletter.docx
si.aux
si.bbl
si.blg
si.log
si.out
si.toc
siNotes.bib
