
paperNotes.bib
paper.synctex.gz
paper.pdf
paper.out
paper.log
paper.blg
paper.bbl
paper.aux
figures/cob.png
*.wt5
data/osfstorage/**
figures/drsive_spectrum.png
paper.synctex(busy)
figures/drsive_spectrum.png
figures/comparisonwmel.png
figures/drsive_spectrum.png
figures/drwmel.png
figures/timeorderedwmel.png
~$verletter.docx
